html,body,iframe {
	height: 100%;
}
body {
	overflow-y: scroll;
	padding-left: 0;
	font: 0.9em "Verdana",Helvetica,Arial,sans-serif;
}
a {
	color: black;
}
h4 {
	font-size: 1.3em;
}
label {
	font-size: 1rem;
}

#Logobar {
	position: relative;
	background: white;
}
#Logobar div {
	display: table;
	width: 100%;
}
#Logobar div div{
	display: table-row;
}
#Logobar div div div {
	padding: 0 25px 0 20px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}
#Logobar #Label a {
	color: black;
	font-size: 1.7em;
}
#Logobar #Label a:hover {
	text-decoration: none;
}

#Topbar {
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	text-align: right;
	background-color: #fafafa;
	background-image: linear-gradient(to bottom,#fafafa 0%,#eaeaea 100%);
	height: 3.8em;
	margin: 0;
	padding: 0.5rem 0.8rem 0.5rem 1rem;
}
#Topbar #Langselect{
	z-index: 100;
	text-align: left;
	margin: 0 7px 0 0;
}
#Topbar #Langselect .btn{
	min-width: 120px;
}
#Topbar #Langselect .langlabel{
	display: inline-block;
	text-align: left;
}
#Topbar #SearchToggler {
	margin: 0 0 0 7px;
}
#Topbar #SearchToggler img {
	width: 24px;
	height: 24px;
	opacity: 0.45;
}

#Content {
	display: table;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#Content .cell1 {
	display: table-cell;
	padding: 0;
}
#Content .cell2 {
	display: table-cell;
	padding: 15px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	width: 100%;
	vertical-align: top;
	position: relative;
	min-height: 400px;
}
#Content .cell3 {
	display: table-cell;
	padding: 0;
	vertical-align: top;
	text-align: left;
}
#Content .cell2 #Canvas {
	min-height: 300px;
	margin-bottom: 60px;
}

#Content #CanvasTopbar {
	display: table;
	width: 100%;
	position: relative;
}
#Content #CanvasTopbar .row {
	display: table-row;
}
#Content #CanvasTopbar #History {
	display: table-cell;
	width: 60px;
	height: 50px;
	vertical-align: top;
}
#Content #CanvasTopbar #History .previous{
	display: inline-block;
}
#Content #CanvasTopbar #History .previous a{
	display: inline-block;
	background-image: url("../bootstrap-icons/chevron-left.svg");
	background-repeat: no-repeat;
	padding: 12px 12px;
	background-position: center;
	opacity: 0.8;
}
#Content #CanvasTopbar #History .next{
	display: inline-block;
	margin: 0 0 0 6px;
}
#Content #CanvasTopbar #History .next a{
	display: inline-block;
	background-image: url("../bootstrap-icons/chevron-right.svg");
	background-repeat: no-repeat;
	padding: 12px 12px;
	background-position: center;
	opacity: 0.8;
}
#Content #CanvasTopbar #Breadcrumps {
	vertical-align: top;
	display: table-cell;
	width: auto;
	text-align: center;
	padding: 0 50px 0 15px;
	height: 50px;
}

/*
#Content .cell2 #History {
	display: inline-block;
	margin: 0 0 10px 0;
}
#Content .cell2 #History .previous{
	display: inline-block;
	text-align: center;
	width: 30px;
}
#Content .cell2 #History .next{
	display: inline-block;
	margin: 0 0 0 5px;
	text-align: center;
	width: 30px;
}
*/

#Content .cell2 #ContentWait,
#Search #ContentWait {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 180px;
	opacity: 0.5;
}

#Search {
	padding: 15px;
	width: 100%;
	position: relative;
	min-height: 400px;
}

#Leftbar {
	min-width: 450px;
	max-width: 450px;
	background: transparent;
	transition: all 0.3s;
	padding: 15px;
}
#Leftbar.active {
	margin-left: -450px;
}
#Leftbar .input-group {
	margin-bottom: 10px;
}
#Leftbar .input-group.active .form-control:disabled {
	background-color: #fff;
}
#Leftbar .btn.disabled {
	background-color: #e9ecef;
	cursor : not-allowed;
	pointer-events: auto;
}
#Leftbar .menu-wrapper {
	margin: 0 1px 0 1px;
}

#Rightbar {
	min-width: 270px;
	max-width: 270px;
	padding: 20px;
	background: transparent;
	transition: all 0.3s;
}
#Rightbar.active {
	margin-right: -300px;
}
#Rightbar span {
	display: block;
	background-size: 150px;
	margin-bottom: 20px;
}
#Rightbar a.disabled {
	opacity: 0.3;
}
#Footer {
	border-top: 1px solid #DADADA;
	padding: 15px;
}
#Footer .footer-right span {
	display: inline-block;
	margin-left: 15px;
}

#LeftModal .list-group-item.active {
	position: relative;
}
#LeftModal .list-group-item.active .close {
	position: absolute;
	right: 10px;
	top: 7px;
	color: #fff;
	text-shadow: none;
	border: 0 none;
	opacity: 1;
}

#UsageBox {
	margin: 40px 0 0 0;
}

/* ---------------------------------------------------
    IFRAME
----------------------------------------------------- */
iframe {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.iframe {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 80%;
}
.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	
	overflow: hidden;
}

/* ---------------------------------------------------
    ICONS
----------------------------------------------------- */
#Rightbar a:after {
	content:url("../bootstrap-icons/chat-dots.svg");
	padding: 0 0 0 5px;
	opacity: 0.5;
}
#Rightbar .copylink a{
	display: inline-block;
	background-image: url("../bootstrap-icons/box-arrow-down-right.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
}
#Rightbar .print a{
	display: inline-block;
	background-image: url("../bootstrap-icons/file-earmark-arrow-down.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
}
#Rightbar .zlisurl a{
	display: inline-block;
	background-image: url("../img/Stud.IP-Icon.png");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
	background-size: 16px;
}
#Rightbar .jlucourl a{
	display: inline-block;
	background-image: url("../bootstrap-icons/geo.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
}
#Rightbar .googlemapsurl a{
	display: inline-block;
	background-image: url("../bootstrap-icons/google.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
}
#Rightbar .access a{
	display: inline-block;
	background-image: url("../bootstrap-icons/people-fill.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	background-position: 0 2px;
}

#Footer .contact a{
	background-image: url("../bootstrap-icons/envelope.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
	background-position: 0;
}
#Footer .imprint a{
	background-image: url("../bootstrap-icons/exclamation-circle.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
	background-position: 0;
}
#Footer .privacynotice a{
	background-image: url("../bootstrap-icons/lock.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
	background-position: 0;
}
#LeftbarToggler .navbar-toggler-icon {
	background-image: url("../bootstrap-icons/arrow-bar-left.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
	background-position: 0;
	opacity: 0.5;
}
#RightbarToggler .navbar-toggler-icon {
	background-image: url("../bootstrap-icons/arrow-bar-right.svg");
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
	background-position: 0;
	opacity: 0.5;
}


/* modal */
.modal-header {
	background-color: #fafafa;
	background-image: linear-gradient(to bottom,#fafafa 0%,#eaeaea 100%);
	height: 3.8em;
	padding: 10px 10px 10px 15px;
}
.modal-body h4 {
	font-size: 1.3em;
	text-decoration: underline;
}

/* ---------------------------------------------------
    HACKS
----------------------------------------------------- */
.dropdown-item.disabled {
	background-color: #e9ecef;
	opacity: 1;
}
#Leftbar .dropdown-menu {
	padding: 0;
}
#Leftbar .dropdown-item {
	padding: 0.375rem 0.75rem;
}

a.btn.disabled, fieldset:disabled a.btn {
	cursor : not-allowed;
	pointer-events: auto;
	background: #eee;
	color: #adadad;
	border-color: #adadad;
}
.btn-light {
	color: #333;
	background-color: white;
	border-color: #ced4da;
}
.btn-light.dropdown-toggle {
	background-color: white !important;
}
.selectpicker .dropdown-item.active {
	background-color: white !important;
	color: white;
}
#Leftbar .btn-light:hover,
#Leftbar .btn-light:active,
#Leftbar .btn-light:focus {
	background-color: white !important;
	outline: none !important;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
	background-color: white !important;
}

.form-control {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/* ---------------------------------------------------
    PRINT
----------------------------------------------------- */
@media print {
	html, body {
		height: auto;
	}
	body {
		overflow-y: auto;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		font: 1.0em "Verdana",Helvetica,Arial,sans-serif;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	.noprint {
		display: none !important;
	}
	#Header div div div {
		padding: 0;
		height: auto;
		display: table-cell;
		vertical-align: middle;
	}
	#Header #Label {
		text-align: center;
	}
	#Header #Label a {
		font-size: 16px;
		text-decoration: none !important;
	}
	#Content .cell2 {
		display: table-cell;
		padding: 0;
		border-left: 0px none;
		border-right: 0px none;
		width: 100%;
		vertical-align: top;
	}
	#Content .cell2 #Breadcrumps {
		position: relative;
		width: 100%;
		margin: 20px 0 0 0;
		text-align: center;
		line-height: 30px;
	}
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#Leftbar {
		margin-left: -450px;
	}
	#Leftbar.active {
		margin-left: 0;
	}
	#Rightbar {
		margin-right: -300px;
	}
	#Rightbar.active {
		margin-right: 0;
	}
	#Header .sublogo {
		display: none;
	}
	#Header .mainlogo {
		width: 100px !important;
	}
	#Header .mainlogo img{
		width: 100px;
		height: auto;
	}
	#Logobar #Label a {
		font-size: 1.1em;
	}
	#Logobar div div div {
		height: 70px;
		padding: 15px 25px 15px 15px;
	}
}

@media (max-width: 364px) {
	#Langselect {
		display: none;
	}
	#SearchToggler {
		display: none;
	}
	#RightbarToggler {
		display: none;
	}
	#Logobar #Label {
		text-align: center;
	}
	#Leftbar {
		min-width: 360px;
		max-width: 360px;
	}
	#LeftModal {
		max-width: 360px;
	}
	#History {
		margin: 0 0 10px 0;
	}
	#Footer .footer-right span {
		display: block;
		margin-right: 15px;
	}
	#Content {
		display: table;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

}
